<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <!-- Adicione o link para o Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Adicione estilos personalizados aqui, se necessário */
    </style>
</head>

<body class="bg-gray-100 font-sans">
    {% include 'navbar.html' %}

    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-8">URL Shortener</h1>
        <form action="/shorten" method="POST" class="flex">
            <label for="long_url" class="sr-only">URL:</label>
            <input type="text" id="long_url" name="long_url" required
                class="w-full px-4 py-2 rounded-lg shadow-sm border border-gray-300 focus:outline-none focus:border-blue-400">
            <button type="submit"
                class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Shorten</button>
        </form>
    </div>

</body>

</html>