<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortened URL</title>
    <!-- Adicione o link para o Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Adicione estilos personalizados aqui, se necessário */
    </style>
</head>
<body class="bg-gray-100 font-sans">
    {% include 'navbar.html' %}
    
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-4">Shortened URL:</h1>
        <p>Here is your shortened URL: <a href="{{ short_url }}" class="text-blue-500">{{ short_url }}</a></p>
    </div>

    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-4">Tiny URL:</h1>
        <p>Here is your tiny URL: <a href="{{ tiny_url }}" class="text-blue-500">{{ tiny_url }}</a></p>
    </div>

    <div class="container mx-auto py-8">
        <button onclick="window.location.href = '/';" class=" bg-blue-500 text-white px-4 py-2 rounded-lg mt-4 hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Voltar</button>
    </div>
</body>
</html>